body {
    background-color: #2b5c6f;
    color: whitesmoke;
}

hr {
    border: 1px solid darkgray;
    width: 100%;
}

.heading {
    padding: 20px;
    margin: 7px;
}

.heading h2 {
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.task-form {
    width: 80%;
    margin: 20px auto;
    /* border: 2px dotted grey;*/
    padding: 10px;
}

.form-check-input:disabled~.form-check-label,
.form-check-input[disabled]~.form-check-label {
    color: white;
}

.task-form form .add {
    padding: 7px;
    font-size: 16px;
    margin-top: 5px;
    font-feature-settings: normal;
    float: right;
    background-color: darkcyan;
    border: grey solid 2px;
    font-weight: 500;
    color: white;
}

.sort {
    float: right;
    padding: 3px;
    margin-top: 9px;
    background-color: darkcyan;
}

.sort button {
    background-color: darkcyan;
    border: darkgrey solid 2px;
}

.sort button:hover {
    background-color: rgb(130, 168, 168);
}

.container {
    margin-top: 40px;
}

.container h5 {
    text-align: left;
    margin-top: 15px;
    display: inline-block;
}

.accordion {
    width: 90%;
}

.card {
    background-color: #2b5c6f;
}

.card-header,
.card-link,
.card-link:hover {
    text-align: left;
    color: rgb(26, 74, 112);
    background-color: darkcyan;
    border-radius: 5px;
}

.card .card-header button {
    border: none;
    outline: none;
    color: rgb(4, 33, 83);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: -webkit-fill-available;
    background-color: lightcyan;
    border-radius: 6px;
}

.card .card-header button p {
    text-align: center;
    color: black;
}

.collapsed p b,
.expanded p b {
    color: rgb(8, 77, 59);
}

.collapsed p,
.expanded p {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 20px;
    animation: minus 0.5s;
}

.collapse.show {
    background-color: whitesmoke;
    border: 2px bold black;
    color: #191313;
}

@keyframes minus {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

[aria-expanded="false"]>.expanded,
[aria-expanded="true"]>.collapsed {
    display: none;
}

.card-link .title-tag {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    ;
    font-size: 23px;
    color: #1e253a;
}

.card {
    width: 100%;
    margin: 20px;
}

.card-body {
    padding: 10px 10px;
}

.card-body ul li {
    padding: 4px;
    font-size: 17px;
    font-family: monospace;
    width: 90%;
    border-bottom: solid;
    list-style: decimal;
}

.textarea {
    padding: 7px;
    font-family: cursive;
    width: -webkit-fill-available;
}

.addNote {
    float: right;
    margin-bottom: 10px;
}

#updateButton {
    background-color: #d6c6ad;
    padding: 5px;
    background-color: #d6c6ad;
    font-size: 16px;
    font-weight: 500;
}

.modal-content {
    color: black;
    background-color: #d6c6ad;
}