hr {
    border: 1px solid darkgray;
    width: 100%;
}

.heading {
    padding: 20px;
    margin: 10px;
}

.heading h2 {
    text-decoration: underline;
    text-align: center;
}

.task-form {
    width: 80%;
    margin: 0 auto;
    /* border: 2px dotted grey;*/
    padding: 10px;
}

.task-form form .add {
    padding: 7px;
    font-size: 16px;
    margin-top: 5px;
    font-feature-settings: normal;
    float: right;
}

.sort {
    float: right;
    padding: 3px;
    margin-top: 9px;
}

.container {
    margin-top: 40px;
}

.container h5 {
    text-align: left;
    margin-top: 15px;
    display: inline-block;
}

.accordion {
    width: 90%;
}

.card-header,
.card-link,
.card-link:hover {
    background-color: whitesmoke;
    text-align: left;
    color: rgb(26, 74, 112);
}

.card .card-header button {
    border: none;
    outline: none;
    color: rgb(4, 33, 83);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: -webkit-fill-available;
}

.card .card-header button p {
    text-align: center;
    color: black;
}

.collapsed p b,
.expanded p b {
    color: rgb(8, 77, 59);
}

.collapsed p,
.expanded p {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 20px;
    animation: minus 0.5s;
}

@keyframes minus {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

[aria-expanded="false"]>.expanded,
[aria-expanded="true"]>.collapsed {
    display: none;
}

.card-link .title-tag {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    ;
    font-size: 23px;
    color: #1e253a;
}

.card {
    width: 100%;
    margin: 20px;
}

.card-body {
    padding: 10px 10px;
}

.card-body ul li {
    padding: 4px;
    font-size: 17px;
    font-family: monospace;
}

.textarea {
    padding: 7px;
    font-family: cursive;
}

.addNote {
    float: right;
    margin-bottom: 10px;
}